<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Les Saveurs De Savoie{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('../assets/icon/favicon.png') }}">
    {{ encore_entry_link_tags('styles') }}

    {% block stylesheets %}
    {% endblock %}

</head>

<body>



    {# serialize l'utilisateur connecté et l'envoie au front par les data-attribute #}
    <div class="js-user-rating" data-user="{{ app.user|serialize('json', { groups: 'getUser'})}}">
    </div>

    {# serialize le role de l'utilisateur connecté et l'envoie au front par les data-attribute #}
    <div class="js-user-admin"
        data-user-admin="{{ app.user ? app.user.roles|serialize('json', { groups: 'getUser'}) : 'null'}}">
    </div>


    {% block body %}

    {% endblock %}

    {% block javascripts %}
    {% endblock %}
    {{ encore_entry_script_tags('app') }}


</body>

</html>